.header {
  margin-bottom: 32px;
  background-color: var(--first-color);
}
.logo {
  margin-right: 32px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.iconLogo {
  width: 32px;
  height: auto;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  animation: smoothScroll 1s forwards;
  z-index: 999;
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}
