.label {
  display: block;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 4px;
}
.input {
  padding: 0.5em;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 16px;
  transition: border-color 400ms ease-in, box-shadow 400ms ease-in;
}
.input:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input:focus {
  border-color: var(--first-color);
}
